<a href="https://colab.research.google.com/github/murad12321/murad12321/blob/main/Sprint_1a_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sprint_1a_task 1 cu suali
num = 123
str_num = str(num)
print(str_num, type(str_num))

123 <class 'str'>

In [ ]:
#Sprint_1a_task 2 cu suali
val = 19.99
int_val = int(val)
print(int_val)

19

In [ ]:
#Sprint_1a_task 3 cu suali
num_str = "500"
num_int = int(num_str)
print(num_int / 2)

250.0

In [ ]:
#Sprint_1a_task 4 cu suali
a, b = 8, 12
print(a < b, a == b)

True False

In [ ]:
#Sprint_1a_task 5 cu suali
x, y, z = 5, 10, 15
print((x < y) and (y < z))

True

In [ ]:
#Sprint_1a_task 6 cu suali
print(25 // 4, 25 % 4, 25 / 4)

6 1 6.25

In [ ]:
#Sprint_1a_task 7 cu suali
print(3 ** 4)

81

In [ ]:
#Sprint_1a_task 8 cu suali
qiymet = 75.5
int_qiymet = int(qiymet)
print(int_qiymet, type(int_qiymet))

75 <class 'int'>

In [ ]:
#Sprint_1a_task 9 cu suali
n = 20
print((n > 10) or (n < 5), (n > 15) and (n < 25))

True True

In [ ]:
#Sprint_1a_task 10 cu suali
val = "42.8"
float_val = float(val)
print(float_val, type(float_val))
int_val = int(float_val)
print(int_val, type(int_val))

42.8 <class 'float'>
42 <class 'int'>